@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/pic-1.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    background: #f0f0f0; 
    width: 910px;
    height: 680px;
    border-radius: 10px;
    padding: 120px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.container form{
    margin-top: -20px;
}
.container form .data{
    height: 45px;
    width: 100%;
    margin: 50px 0;
}
form .data label {
    font-size: 22px;
    
}
form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 25px;
    border: 2px solid lightgrey;
    border-radius: 25px;
    outline: none;
}
form .data input:focus {
    background: #252525; 
    color: #fff;
}
form .forgot-pass{
    margin-left: -9px;
}
form .forgot-pass a {
    color: #FF4B2B;
    text-decoration: none;
}
form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
form .btn .inner {
    height: 20%;
    width: 20%;
    position: absolute;
    left: -100%;
}
form .btn button {
    height: 100%;
    width: 25%;
    background-color: #FF4B2B;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-weight: bold;
    cursor: pointer;
}